#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 1rem;
}


input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 60px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: lightgreen;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
  color: green;
  font-style: italic;
}

li {
  color: black;
  padding-top: 3px;
  font-size: 15px;
}

